@using System.Globalization;
@model HalloDocServices.Admin.DashboardDetails;

@{
    var back = "";
}
<div class="table-responsive d-none d-md-block">
    <table class="table">
      
        <thead>
            <tr class="text-secondary">
                <th scope="col">Name</th>
                <th scope="col">Date Of Birth</th>
                <th scope="col">Requestor</th>
                <th scope="col">Requested Date</th>
                <th scope="col">Phone</th>
                <th scope="col">Address</th>
                <th scope="col">Notes</th>
                <th scope="col">Chat With</th>
                <th scope="col">Actions</th>
          
            </tr>
        </thead>
        <tbody class="whiteFont">

            @foreach (var client in Model.clients!)
            {
                @if (@client.Request.RequestTypeId ==1)
                {
                    back = "bg-success";
                }
                @if (@client.Request.RequestTypeId == 2)
                {
                    back = "bg-warning";
                }
                @if (@client.Request.RequestTypeId == 3)
                {
                    back = "bg-primary";
                }
                @if (@client.Request.RequestTypeId == 4)
                {
                    back = "bg-secondary";
                }
              
                <tr class="@back">
                   
                    <td>@client.FirstName  @client.LastName</td>
                    <td>@client.StrMonth, @client.IntDate, @client.IntYear</td>
                    <td>@client.Request.FirstName @client.Request.LastName</td>
                    <td>@DateOnly.FromDateTime(@client.Request.CreatedDate)</td>
                    <td>@client.Request.PhoneNumber</td>
                    <td>@client.Street, @client.City, @client.State, @client.ZipCode</td>
                    <td>@client.Notes</td>
                    <td>

                        <button class="btn adminButton whiteFont"> <i class="bi bi-person mr-1 icn"></i> &nbsp; Provider</button>
                        
                    </td>
                    <td>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle adminButton whiteFont" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Actions
                            </button>
                            <ul class="dropdown-menu">
                        
                                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#AssignCase">  <i class="bi bi-card-text  icn"></i> &nbsp; Assign Case </button></li>
                                <li><button class="dropdown-item" type="button" onclick="cancel(@client.RequestId)"> <i class="bi bi-x-circle"></i> &nbsp; Cancel Case </button></li>
                                <li><button class="dropdown-item" type="button"> <a asp-action="ViewCase" asp-controller="Admin" asp-route-reqid="@client.RequestClientId" class="text-decoration-none text-black"> <i class="bi bi-list-check"></i> &nbsp; View Case</a></button></li>
                                <li><button class="dropdown-item" type="button"> <a asp-action="ViewNotes" asp-controller="Admin"  class="text-decoration-none text-black"> <i class="bi bi-calendar2-minus icn"></i> &nbsp; View Notes</a></button></li>
                                <li><button class="dropdown-item" type="button" data-bs-toggle="modal" data-bs-target="#BlockModal"> <i class="bi bi-person icn"></i> &nbsp; Block Patient</button></li>
                           
                            </ul>
                           
                        </div>
                    </td>
                </tr>
            }

         
        </tbody>
    </table>
</div>



<div class="d-block d-md-none">

@*    @{
        Dictionary<int, string> myHashMap = new Dictionary<int, string>()
    {
    {1,"Business"},
    {2,"Patient"},
    {3,"Family/Friend"},
    {4,"Concierge"},
    {5,"VIP"},

    };
    }*@

    @foreach (var client in Model.clients!)
    {
         <div class="accordion" id="accordionExample">
            <div class="accordion-item" style="background-color:#e7f1ff!important">
                <h2 class="accordion-header" id="heading_@client.RequestId">
                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapse_@client.RequestId" aria-expanded="true" aria-controls="collapse_@client.RequestId" style="background-color:#e7f1ff!important; color:black!important">
                        <div class="d-flex w-100 flex-column">
                            <div class="row">
                                <div class="col-6">
                                    <p>@client.FirstName, @client.LastName</p>
                                    <p>@client.Street, @client.City, @client.State @client.ZipCode</p>
                                </div>
                                <div class="col-6">
                                    <div class="d-flex justify-content-end align-items-center mb-3">
                                        @*<div class="mx-2">@myHashMap[@client.Request.RequestTypeId]</div>
                                        <div class="style_@client.Request.RequestTypeId rounded-circle"></div>*@
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class="btn roundedButton">Map Location</div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <i class="bi bi-clock" style="color:#01BCE9"></i>
                                Wait Time:
                                <strong>
                                    @DateTimeFormatInfo.CurrentInfo.GetAbbreviatedMonthName(@client.Request.CreatedDate.Month) @client.Request.CreatedDate.Day, @client.Request.CreatedDate.Year
                                    @client.Request.CreatedDate.ToString("h:mm tt", CultureInfo.InvariantCulture)

                                </strong>
                            </div>
                        </div>

                        </button>
                </h2>

                <div id="collapse_@client.RequestId" class="accordion-collapse collapse show" aria-labelledby="heading_@client.RequestId" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                        <p>Date of Birth: <span class="fw-bolder">@client.StrMonth @client.IntDate, @client.IntYear</span></p>
                        <p>Email: <span class="fw-bolder">@client.Email</span></p>
                        <p>Patient: <span class="fw-bolder">@client.PhoneNumber</span></p>
                        <p>Requestor: <span class="fw-bolder">@client.Request.FirstName @client.Request.LastName</span></p>

                        <div class="row">
                            <div class="col-6">
                                <div class="btn vipColor border-1 rounded-pill text-white mb-2 w-100 fw-bold">Assign Case</div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-danger border-1 border-danger rounded-pill text-white mb-2 w-100 fw-bold">Cancel Case</div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-success border-1 border-success rounded-pill text-white mb-2 w-100 fw-bold">View Notes</div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-danger border-1 border-danger rounded-pill text-white mb-2 w-100 fw-bold">Block Patient</div>
                            </div>
                            <div class="col-6">
                                <div class="btn btn-success border-1 border-success rounded-pill text-white mb-2 w-100 fw-bold">Email</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>



<div class="modal" id="AssignCase" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content justify-content-center p-0">

                <div class="justify-content-between d-flex bg-primary">
                    <h4 class="text-white mt-2 ms-4">Assign Request</h4>
                    <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div><br>
                <div style="padding:20px">
                    <div class="d-inline-flex justify-content">
                        <p>To assign this request,serach and select another Physician.</p>
                    </div>
                   @* <form method="post" asp-route-assignCaseId="@Model.AdminDashboardModel.RequestId">*@
                        <select class="form-control">
                            <option class="text-muted">Maryland</option>
                            <option value="1">Iceland</option>
                            <option value="2">Newzeland</option>
                            <option value="2">Desneyland</option>
                            <option value="3">Other</option>
                        </select><br>
                        <select class="form-control">
                            <option class="text-muted">Select Physician</option>
                            <option value="1">Anil</option>
                            <option value="2">Bhaudik</option>
                            <option value="3">Manish</option>
                            <option value="4">Nirmal</option>
                        </select><br>
                        <textarea type="text" id="textarea" class="form-control" placeholder="Description">
                                </textarea>

                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary">Submit</button>
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                   @* </form>*@
                </div>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="BlockModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-body">
            <div class="modal-content justify-content-center p-0">

                <div class="justify-content-between d-flex bg-primary">
                    <h4 class="text-white mt-2 ms-4">Confirm Block </h4>
                    <button type="button" class="btn-close mt-2" data-bs-dismiss="modal" aria-label="Close"></button>
                </div><br>
                <div style="padding:20px">

                   @* <form method="post" asp-route-blockCaseId="@Model.AdminDashboardModel.RequestId">*@
                        <div class="d-inline-flex justify-content">
                            <h5> Patient Name : Anil Chauhan</h5>
                           @* <h5>Patient Name :@Model.AdminDashboardModel.FirstName @Model.AdminDashboardModel.LastName</h5>*@
                            <p></p>
                        </div>
                    
                             <div class=" form-floating mb-3 border-dark rounded-3 shadow-sm mt-2 ">
                                <textarea style="height: 150px;" type="text" id="textarea" class="form-control"
                                          fs-1 placeholder="This is Admin Notes"></textarea>
                                <label for="textarea"> Reason For Block Request</label>
                            </div>
          

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Confirm</button>
                            <button type="button" class="btn btn-outline-primary" data-bs-dismiss="modal">Cancel</button>
                        </div>
                  @*  </form>*@
                </div>
            </div>

        </div>
    </div>
</div>

<div id="#cancelCase">

</div>




<script>
    $('.collapse').parent().find(".glyphicon-minus").removeClass("glyphicon-minus")
        .addClass("glyphicon-plus").css('color', 'green');

    $('.collapse').collapse('hide');
    var modal = document.getElementById("myModal");

    function cancel(request_id) {
        $.ajax({
            url: "/Admin/CancelCase/" + request_id,
            type: "POST",
            dataType: "html",
            success: function (data) {
                $("#cancelCase").html(data);
                const myModal = new bootstrap.Modal("#cancleModal", {});
                myModal.show();
            },
            error: function () {
                alert("No Projects Found");
                $("#cancelCase").html('An error has occurred');
            }
        });
    };


</script>



